* {
    margin: 0px;
    padding: 0px;
}

.menu {
    background-color: #1e1a27;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 5px solid #00FFFF; 
    box-shadow: 0px 0px 10px #00FFFF, 0px 0px 15px #00FFFF; 
}

.gif {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.textomenu {
    color: #0ff;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #0ff, 0px 0px 83px #0ff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

.contenedor-botones{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

button {
    background-color: #1e1a27;
    color: #FFD700;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    border: 3px solid #1e1a27; 
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #FFFF00, 0px 0px 14px #FFFF00;
}

button:hover {
    text-shadow: 0px 0px 10px #FFFF00, 0px 0px 40px #FFFF00;
    box-shadow: 0px 0px 10px #FFFF00, 0px 0px 40px #FFFF00;
    border: 3px solid #FFD700;
    border-color: #FFEA00;
}

body{
    max-width:100%;
    overflow-x: hidden;
    background-color: #121212;
}

.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    color: #BF00FF; 
    text-shadow: 0 0 20px #BF00FF, 0px 0px 80px #BF00FF; 
    font-family: 'Press Start 2P', cursive;
}
.texto{
    color: azure;
    font-family: 'Press Start 2P', sans-serif;
}
.contenido{
    display: flex;
    gap: 15px;
}
.imagenes-texto{
    width: 498px;
    height: 280px;
    margin-right: 15px;
    box-shadow: 0px 0px 7px white;
    border-radius: 1%;
}

