* {
    margin: 0px;
    padding: 0px;
}

.menu {
    background-color: #1e1a27;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 5px solid #00FFFF; 
    box-shadow: 0px 0px 10px #00FFFF, 0px 0px 15px #00FFFF; 
}

.gif {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.textomenu {
    color: #0ff;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #0ff, 0px 0px 83px #0ff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

.contenedor-botones{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.botones-menu {
    background-color: #1e1a27;
    color: #FFD700;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    border: 3px solid #1e1a27; 
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #FFFF00, 0px 0px 14px #FFFF00;
}

.botones-menu:hover {
    text-shadow: 0px 0px 10px #FFFF00, 0px 0px 40px #FFFF00;
    box-shadow: 0px 0px 10px #FFFF00, 0px 0px 40px #FFFF00;
    border: 3px solid #FFD700;
    border-color: #FFEA00;
    animation: nombre;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

body{
    max-width:100%;
    overflow-x: hidden;
    background-color: #121212;
}

.imagenes-juegos{
    width: 198px;
    height: 100px;

}
.botone-juegos{
    background-color: #1e1a27;
    padding: 5px 10px;
    cursor: pointer;
    border: 3px solid #1e1a27; 
    border-radius: 5px;
    margin-top: 20px;
}
.botone-juegos:hover {
    border: 3px solid #FFD700;
    border-color: #FFEA00;
    animation-name: nombreS;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes nombreS {
    0%{
        border-color: rgb(255, 0, 0);}
    25%{
        border-color: aqua;}
    50%{
        border-color: #FFEA00;
    }    
    75%{
        border-color: #00ff15;
    }
    100%{
        border-color: rgb(255, 0, 0);}
}

a{
    text-decoration: none;
}
.todos_los_botones{
    display: flex;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    animation-name: nombre;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes nombre {
    0%{
        color: rgb(255, 0, 0);}
    25%{
        color: aqua;}
    50%{
        color: #FFEA00;
    }    
    75%{
        color: #00ff15;
    }
    100%{
        color: rgb(255, 0, 0);}
}
