* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #121212;
    font-family: 'Press Start 2P', cursive;

}

.menu {
    background-color: #1e1a27;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 4px solid #00FFFF;
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.7);
    border-radius: 0 0 15px 15px;
}

.gif {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.gif:hover {
    transform: scale(1.1);
}

.textomenu {
    color: #00FFFF;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #00FFFF, 0px 0px 50px #00FFFF;
    font-size: 26px;
    font-weight: bold;
}

.contenedor-botones {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

button {
    background-color: #1e1a27;
    color: #FFD700;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    border: 3px solid #1e1a27; 
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #FFFF00, 0px 0px 14px #FFFF00;
}

button:hover {
    text-shadow: 0px 0px 15px #FFFF00, 0px 0px 40px #FFFF00;
    box-shadow: 0px 0px 15px #FFD700;
    background-color: rgba(255, 215, 0, 0.2);
    transform: translateY(-2px);
}

.titulo {
    text-align: center;
    font-size: 42px;
    color: #BF00FF;
    text-shadow: 0 0 20px #BF00FF, 0px 0px 50px #BF00FF;
    margin-bottom: 15px;
}

.texto {
    color: azure;
    font-size: 18px;
    line-height: 1.8;

}

.contenido {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
}

.imagenes-texto {
    width: 520px;
    height: 300px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px white;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.imagenes-texto:hover {
    transform: scale(1.05);
    
}
